body {
  /* background-color: grey; */
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
  /* border: 1px solid black; */
}

/* Slick Carousel styling: */

.slider {
  width: 50%;
}

/* .slick-slide {
  margin: 0 10px;
} */

.slick-slide img {
  width: 975px;
  height: 400px;
}

.slick-list {
  max-height: 400px;
}

.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}

/* Navbar styling: */

.website-title {
  text-transform: uppercase;
  color: grey;
}

.header-ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;
}

.header-li {
  width: 200px;
  height: 30px;
  background: lightgrey;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  border-right: solid 1px white;
}

.header-a {
  color: grey;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
}

.header-a:hover {
  color: white;
  background-color: grey;
}

.header-li:not(:last-child) {
  border-right: solid 1px darkgrey;
}

.paragraph-element {
  display: inline-block;
  /* background-color: green; */
  margin-top: 15px;
  width: 300px;
  height: 300px;
}

.paragraph-element:not(:last-child) {
  margin-right: 22px;
}

.paragraph-image {
  /* background-color: yellow; */
  height: 60%;
  width: 100%;
}

.paragrapgh-text {
  text-align: left;
  padding-top: 250px;
  font-family: "Work Sans", sans-serif;
}

/* .container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: white;
} */

/* .footer {
  border: 1px solid black;
  background-color: darkgrey;
  height: 50px;
  color: white;
} */
