hr {
  margin-left: 0;
  margin-right: 0;
}

.whole-page {
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

.website-title {
  padding-bottom: 15px;
  padding-top: 30px;
  font-size: 35px;
  text-transform: uppercase;
  color: grey;
}

/* Navbar styling: */

.navbar-ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
}

.navbar-li {
  background-color: lightgrey;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.navbar-a {
  height: 30px;
  line-height: 30px;
  color: grey;
  display: block;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

.navbar-a:hover {
  color: white;
  background-color: grey;
}

.navbar-li:not(:last-child) {
  border-right: solid 1px darkgrey;
}

/* Slick Carousel styling: */

.slider {
  width: 50%;
}

.slick-slide img {
  width: 975px;
  height: 400px;
}

.slick-list {
  max-width: 1920px;
  max-height: 400px;
}

.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}

/* Paragrapghs styling: */

.paragraphs {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.paragraph-element {
  width: 32%;
  height: 300px;
}

.paragraph-image {
  height: 60%;
  width: 100%;
}

.paragraph-text {
  margin-top: 20px;
  color: grey;
  font-size: 13px;
}
/* ------------------------------------------------------- */

/* Footer styling: */

.footer {
  background-color: darkgrey;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.footer-text {
  color: white;
  font-size: 14px;
  line-height: 50px;
  height: 30%;
  width: 600px;
  margin-left: 50px;
}

/* ------------------------------------------------------- */
/* -----------------ABOUT PAGE STYLING --------------------*/
/* ------------------------------------------------------- */
.about-component {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: grey;
}

.about-title {
  text-transform: uppercase;
  font-size: 25px;
}

.about-paragraph {
  width: 80%;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  font-size: 13px;
}

.about-list {
  display: flex;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  justify-content: space-between;
}

.about-list-element {
  width: 30%;
}

.about-list-img {
  height: 40%;
  width: 100%;
}

.about-list-name {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  padding-bottom: 10px;
}

.about-list-hr {
  width: 33%;
}

.about-list-title {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 15px;
}

.about-list-text {
  font-size: 13px;
}

/* ------------------------------------------------------- */
/* -----------------PROJECTS PAGE STYLING -----------------*/
/* ------------------------------------------------------- */
.projects-component {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: grey;
}

.projects-title {
  text-transform: uppercase;
  font-size: 25px;
}

.projects-paragraph {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  font-size: 13px;
}

.projects-list {
  display: flex;
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  justify-content: space-between;
}

.projects-list-element {
  width: 30%;
  padding-bottom: 20px;
}

.projects-list-img {
  height: 60%;
  width: 100%;
}

.projects-list-name {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  padding-bottom: 10px;
}

.projects-list-hr {
  width: 33%;
}

.projects-list-title {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}

.projects-list-text {
  font-size: 13px;
}
